.card {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 10px 10px 10px ;
    align-items: flex-start;
}

.title {
    font-size: 20px;
    margin-bottom: 2px;
    text-wrap: wrap;
}

.color {
    color: #AAA5A5;
    font-size: 14px;
    margin: 0;
    height: fit-content;
    text-wrap: wrap;
}

.button,
.button:hover {
    width:170px;
    border: 1px solid #000;
    border-radius: 5px;
    padding:8px 10px;
    font-size: 10px;
    color: #000;
    letter-spacing: 0;
    font-weight: 600;
}

.iconTypo {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.button1,.button1:hover{
    width:170px;
    border: 1px solid #000;
    border-radius: 5px;
    padding:8px 10px;
    font-size: 10px;
    color: #fff;
    letter-spacing: 0;
    font-weight: 600;
    background-color: #000;
}
