.imgGrid {
  height: 90px;
  width: 90px;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
    border-radius: 10px;
}

.imgGrid:hover {
  border-color: #ccc;
}

.mainImg {
  height: 600px;
  width: 600px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.description {
  width: 100%;
  background-color: #f3f3f3;
}

.heading {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
}

.subheading {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  align-items: center;
  font-size: 13px;
}

.pricesection {
  width: 100%;
  padding: 10px 50px;
}

.sp {
  color: #f55e53;
  font-size: 22px;
  font-weight: bold;
  line-height: 23px;
}
.sp2 {
  color: #ba2b20;
  font-size: 22px;
  font-weight: 700;
  line-height: 23px;
}
.mrp {
  font-size: 16px;
  color: #b5b5b5;
}
.mrp2 {
  text-decoration: line-through;
  font-size: 16px;
  color: #191919;
  font-weight: 600;
}
.cutline {
  width: 90%;
  border-bottom: 1px solid #b5b5b5;
  position: relative;
  left: 10px;
  bottom: 14px;
}

.priceheading {
  font-size: 20px;
}

.pricesubhead {
  font-size: 11px;
}

.declaratiob {
  font-size: 8px;
  color: #b5b5b5;
}

.linebreak {
  border-top: 1px solid #b5b5b5;
  width: 100%;
  margin-top: 20px;
}
.size {
  width: 100%;
}
.sizebox {
  width: 45px;
  height: 35px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0d1a26;
  font-weight: 900;
  /* margin: 5px; */
  cursor: pointer;
}
.unavailablesizebox {
  flex-shrink: 0;
  cursor: not-allowed;
  width: 45px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  margin: 5px;
  color: #7b7979;
  border: 1px solid #7b7979;
  background-color: #b5b5b5;
  position: relative;
}

.unavailablesizebox::before {
  content: "";
  border: 1px solid #7b7979;
  background-color: #7b7979;
  height: 55px;
  position: absolute;
  left: 0px;
  top: 0px;
  transform-origin: 0 1px;
  transform: rotate(-52.9deg);
  border-radius: 100px;
}

.qtyinput {
  width: 110px;
}
.button,
.button:hover {
  user-select: none;
  color: #fff;
  background-color: #0d1a26;
  border-radius: 10px;
  width: 160px;
  height: 45px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.popbtn,
.popbtn:hover {
  background-color: #0d1a26;
  border: 1px solid #0d1a26;
  width: max-content;
  border-radius: 8px;
  font-size: 10px;
  padding: 5px 25px;
}

.poptitle {
  font-weight: 600;
  font-size: 15px;
}

.popsubtitle {
  color: #7b7979;
  font-size: 13px;
}

.popbtn2,
.popbtn2:hover {
  background-color: #fff;
  border: 1px solid #0d1a26;
  width: max-content;
  border-radius: 8px;
  font-size: 10px;
  color: #0d1a26;
  padding: 5px 25px;
}
.discount {
  padding: 2px 5px;
  background-color: #f55e53;
  width: fit-content;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 4px;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 1;
}
.sizeboxmobile,
.selectedsize {
  width: 68px;
  height: 68px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #e5e7eb;
  border-radius: 3px;
  font-weight: 400;
  cursor: pointer;
}
.selectedsize {
  border: 1.5px solid #0d1a26;
}

.wishIcon {
  color: #f55e53;
  font-size: 65px;
}
.titleMobie {
  font-size: 22px;
  width: fit-content;
}
.taxDeclaration {
  font-size: 15px;
  color: #6c6c6c;
}
.colorContainer {
  margin: 20px 0px;
}
.mobileSubTitle {
  font-weight: 600;
  font-size: 18px;
  width: 100%;
}

.support {
  width: fit-content;
  font-weight: 600;
  font-size: 15px;
  border-bottom: 2px solid #a1a8af;
}
