.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.heading {
    font-size: 19px;
    font-weight: 700px;
    line-height: 28px;
}

.products {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: 100%;
    overflow: scroll;
}