.title {
    font-size: 11px !important;
    font-weight: 700 !important;
    color: #191919
}

.subtxt {
    font-size: 8px;
    font-weight: 400px;
}

.totalPrice {
    font-size: 15px;
    font-weight: 900px;
    line-height: 28px;
    color: black;
}

.subTitle {
    font-size: 8px;
    font-weight: 400px;
    line-height: 20px
}

.subTotal {
    flex-direction: row !important;
    justify-content: space-between !important;
    font-size: 13px;
    color: #9E9898;
    padding-top: 5px;
}

.grandTotal {
    flex-direction: row !important;
    justify-content: space-between !important;
    font-size: 15px;
    font-weight: 600px;
    line-height: 24px;
    color: black;
    margin-top: 5px;
}
.btn,.btn:hover {
    max-width: 354px !important;
    width: 90% !important;
    background-color: #0D1A26 !important;
    color: white !important;
    font-size: 18px !important;
    font-weight: 500px !important;
    border-radius: 10px !important;
}
.modalCon {
    justify-content: space-between !important;
    align-items: center !important;
    border-radius: 5px !important;
    flex-direction: row !important;
}

