@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ion-color-primary: #fff;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}