.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:46.5vw;
    padding: 20px;
    background-color: "#EBEBEB";
}
.image{
    width:100%;
    height: 100%;
}