.footer{
    width: 100%;
    background-color: #0D1A26;
    padding:60px 40px 100px 40px;
    justify-content: space-around;
    align-items: center;
    height:450px
}
.heading{
    color:#fff;
    font-weight: 700;
    font-size: 22px;
}
.links{
    color:#9E9898;
    font-weight: 400;
    font-size: 16px;
}
.quickAbout{
    height: 100%;
}
.help{
    height: 100%;
}

@media screen and (max-width:425){
    .quickAbout{
        display: none;
    }
    .help{
        display: none;
    }
}