.boldHeadingMobile{
    font-weight: 900;
    font-size: 24px;
    color:#0D1A26;
}
.boldSubheadingMobile{
    font-weight: 900;
    font-size: 18px;
    color:#0D1A26;
}

.headingMobile{
    font-weight: 700;
    font-size: 22px;
    color:#0D1A26;
}
.subheadingMobile{
    font-weight: 700;
    font-size: 18px;
    color:#0D1A26;
}

.button,
.button:hover {
    border-radius: 8px;
    background-color: #0D1A26;
    color: #fff;
    font-size: 11px;
    padding: 10px 25px;
    font-weight: 600;
    display: flex;
    gap: 10px;
}
.buttonOutlined,
.buttonOutlined:hover {
    font-size: 11px;
    display: flex;
    gap: 10px;
    padding: 10px 25px;
    border: 1px solid #0D1A26 ;
    border-radius: 10px ;
    color: #0D1A26 ;
    font-weight: 600 ;
}


.mobile {
    display: none;
    width: 100vw;
}

.desktop {
    display: block;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width:500px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}